@font-face {
    font-family: "CursedTimer";
    src: url("CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #DDBD75;
    background-image: url("soccer-field.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.page-title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 6px #D01930;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 570px;
    height: 385px;
    margin: 0px auto 0px auto;
}

#home-score-counter {
    width: 155px;
    height: 120px; 
    background-color: #080001;
    font-family: "CursedTimer", sans-serif;
    font-size: 90px;
    color: #FDFD01;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#guest-score-counter {
    width: 155px;
    height: 120px; 
    background-color: #080001;
    font-family: "CursedTimer", sans-serif;
    font-size: 90px;
    color: #F94F6D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.titles {
    font-size: 40px; 
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 2px 2px 8px black;
}

.score-btns button {
    font-family: "CursedTimer", sans-serif;
    background-color: #DDBD75;
    color: black;
    font-size: 18px;
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 0px auto;
    border-radius: 5px;
    border: 2px solid #9AABD8;
}

.score-btns {
    display: flex;
    justify-content: space-between;
}

.new-game-container {
    text-align: center;
    margin-top: -50px;
}

#new-game-btn {
    background-color: #DDBD75;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 10px;
}

 